<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Drazlo</string>
	<key>CFBundleName</key>
	<string>Drazlo</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.simranjit.frameflow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.simranjit.frameflow</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://drazlo.app/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>604800</integer>
	<key>SUPublicEDKey</key>
	<string>+tejosiUt6pIGS7MO+meT7mrd04Lg/8UouJpl7xkf9A=</string>
</dict>
</plist>
